:root {
  --fz-h1: 50px;
  --fz-h2: 40px;
  --fz-h3: 32px;
  --fz-h4: 24px;
  --fz-h5: 18px;
}

@media (max-width: 1240px) {
  :root {
    --fz-h1: 46px;
    --fz-h2: 36px;
    --fz-h3: 28px;
    --fz-h4: 20px;
    --fz-h5: 18px;
  }
}
.hero {
  padding: 150px 0;
  margin-bottom: 32px;
}
.hero__container {
  position: relative;
}
.hero__container .tag {
  display: inline-block;
  font-weight: 600;
  padding: 12px 20px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  background: rgba(255, 255, 255, 0.0509803922);
  color: #f5f5f5;
  border-radius: 85px;
  letter-spacing: 13%;
  line-height: 120%;
  font-size: 12px;
  margin-bottom: 24px;
}
.hero__container h1 {
  max-width: 688px;
  margin-bottom: 24px;
  color: #f5f5f5;
  line-height: 100%;
}
.hero__container .subtitle {
  text-align: start;
  max-width: 490px;
  color: #f5f5f5;
  margin-bottom: 40px;
}
.hero__container .hero__info {
  z-index: 1;
  position: absolute;
  border-radius: 16px;
  padding: 16px;
  backdrop-filter: blur(42px);
  box-shadow: -5px -5px 250px 0px rgba(255, 255, 255, 0.0196078431) inset;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.0509803922);
}
.hero__container .hero__info .text {
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 12px;
  letter-spacing: 0%;
}
.hero__container .hero__info .number {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--fz-h2);
  font-weight: 500;
  font-family: "Unbounded", sans-serif;
  color: #ffffff;
  line-height: 100%;
}
.hero__container .hero__info .number span {
  font-family: "Unbounded", sans-serif;
  font-size: 20px;
}
.hero__container .hero__info-1 {
  right: 0;
  top: -90px;
}
.hero__container .hero__info-2 {
  right: 510px;
  top: 30px;
}
.hero__container .hero__decor {
  position: absolute;
  right: -40px;
  top: -75px;
  width: 615px;
  height: 615px;
  background-image: url("../../assets/img/hero_bg.png");
  background-repeat: no-repeat;
}

.tools {
  padding: 72px 0;
  margin-bottom: 32px;
}
.tools__container .tools__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}
.tools__container .tools__header h2 {
  max-width: 940px;
}
.tools__container .tools__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.tools__container .tools__content .card {
  border: 2px solid #e5eefd;
  background: rgba(255, 255, 255, 0.1019607843);
  padding: 30px 24px;
  border-radius: 12px;
}
.tools__container .tools__content .card__header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}
.tools__container .tools__content .card__header img {
  min-width: 40px;
}
.tools__container .tools__content .card__header h5 {
  font-family: "Onest", sans-serif;
  font-weight: 600;
}
.tools__container .tools__content .card__header a {
  margin-left: auto;
}
.tools__container .tools__content .card p {
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  color: rgba(19, 50, 122, 0.5019607843);
  margin-bottom: 24px;
}
.tools__container .tools__content .card ul {
  border: 1px solid #e5eefd;
  border-radius: 8px;
}
.tools__container .tools__content .card ul li a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 7px;
  padding: 14px 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #1e2e47;
}
.tools__container .tools__content .card ul li a img {
  margin-right: 8px;
}
.tools__container .tools__content .card ul li a svg {
  margin-left: auto;
}
.tools__container .tools__content .card ul li .active {
  background: #f4f6ff;
}
.tools__container .tools__content .card ul li:not(:last-child) a::after {
  content: "";
  position: absolute;
  left: 18px;
  right: 18px;
  bottom: 0;
  height: 1px;
  background-color: #e5eefd;
}

.plan {
  padding: 72px 0;
  margin-bottom: 32px;
}
.plan__container .plan__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}
.plan__container .plan__content ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 16px;
}
.plan__container .plan__content ol li .card {
  background-image: url("../../assets/img/plan_card_bg.png");
  background-position: top center;
  background-size: cover;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 396px;
  position: relative;
}
.plan__container .plan__content ol li .card__number {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #488eff;
}
.plan__container .plan__content ol li .card__content {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.plan__container .plan__content ol li .card__content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  color: rgba(19, 50, 122, 0.5019607843);
}
.plan__container .plan__content ol li .card img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.plan__container .plan__content ol li:nth-child(1) .card img {
  top: 87px;
}
.plan__container .plan__content ol li:nth-child(2) .card img {
  top: 128px;
}
.plan__container .plan__content ol li:nth-child(3) .card img {
  top: 76px;
}
.plan__container .plan__content .banner {
  background-image: url("../../assets/img/plan_banner_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  gap: 32px;
}
.plan__container .plan__content .banner__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.plan__container .plan__content .banner__content h3 {
  color: #f5f5f5;
}
.plan__container .plan__content .banner__content .banner__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.plan__container .plan__content .banner__content .banner__wrap .banner__plus {
  display: flex;
  gap: 16px;
  align-items: center;
  color: #f5f5f5;
  font-size: 16px;
  line-height: 125%;
}
.plan__container .plan__content .banner__content .banner__wrap .banner__plus .banner__icon {
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
  background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  border-image-source: linear-gradient(169.15deg, rgba(255, 255, 255, 0.4) 0%, rgba(238, 237, 237, 0.2) 96.79%);
}
.plan__container .plan__content .banner__actions {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.plan__container .plan__content .banner__actions p {
  color: rgba(255, 255, 255, 0.7490196078);
  font-size: 16px;
  line-height: 125%;
}

.questions {
  padding: 72px 0;
  margin-bottom: 32px;
}
.questions__container {
  max-width: 1130px;
  margin: 0 auto;
}
.questions__container .questions__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}
.questions__container .questions__tabs {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
.questions__container .questions__content {
  height: 791px;
  position: relative;
}
.questions__container .questions__content .tab-block {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.questions__container .questions__content .tab-block__wrap {
  border-radius: 12px;
  overflow: hidden;
}
.questions__container .questions__content .tab-block__wrap-left {
  border: 1px solid #e5eefd;
}
.questions__container .questions__content .tab-block__wrap-left .tab-block__content {
  padding: 30px;
  border-bottom: 1px solid #e5eefd;
}
.questions__container .questions__content .tab-block__wrap-left .tab-block__content h5 {
  color: #031c3b;
  font-weight: 500;
  margin-bottom: 5px;
}
.questions__container .questions__content .tab-block__wrap-left .tab-block__content p {
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  color: rgba(19, 50, 122, 0.5019607843);
  margin-bottom: 24px;
}
.questions__container .questions__content .tab-block__wrap-left ul {
  margin: 9px 24px 9px 30px;
  padding-right: 6px;
  max-height: 350px;
  overflow-y: auto;
}
.questions__container .questions__content .tab-block__wrap-left ul li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 15px 0;
  color: #1e2e47;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
}
.questions__container .questions__content .tab-block__wrap-left ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #e5eefd;
}
.questions__container .questions__content .tab-block__wrap-left ul::-webkit-scrollbar {
  width: 4px;
}
.questions__container .questions__content .tab-block__wrap-left ul::-webkit-scrollbar-track {
  background: transparent;
}
.questions__container .questions__content .tab-block__wrap-left ul::-webkit-scrollbar-thumb {
  background: #337de8;
  border-radius: 4px;
}
.questions__container .questions__content .tab-block__wrap-bottom {
  grid-area: 2/1/3/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.questions__container .questions__content .tab-block__wrap-bottom .card {
  border: 1px solid #e5eefd;
  border-radius: 12px;
  padding: 30px;
}
.questions__container .questions__content .tab-block__wrap-bottom .card__header {
  margin-bottom: 16px;
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.questions__container .questions__content .tab-block__wrap-bottom .card__header span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  background: linear-gradient(135.95deg, #4c9cff -59.81%, #1560bd 164.51%);
  color: #fff;
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
}
.questions__container .questions__content .tab-block__wrap-bottom .card__header h5 {
  font-weight: 500;
  line-height: 100%;
}
.questions__container .questions__content .tab-block__wrap-bottom .card p {
  text-align: start;
}
.questions__container .questions__content .tab-block--active {
  opacity: 1;
  transform: translateX(0);
}

.team {
  padding: 72px 0;
  margin-bottom: 32px;
  background-image: url("../../assets/img/team_bg_main.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.team__container .team__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}
.team__container .team__header h2 {
  max-width: 1100px;
  color: #f5f5f5;
}
.team__container .team__header .subtitle {
  color: #f5f5f5;
}
.team__container .team__content {
  display: grid;
  grid-template-columns: 1fr 443px;
  gap: 16px;
}
.team__container .team__content .team__card {
  height: 542px;
  padding: 30px;
  background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(134, 156, 255, 0.26) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: -5px -5px 250px 0 rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(21px);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  background: radial-gradient(100% 100% at 0% 0%, rgba(134, 156, 255, 0.26) 0%, rgba(255, 255, 255, 0) 100%);
}
.team__container .team__content .team__card-left {
  padding: 0;
  overflow: hidden;
  position: relative;
}
.team__container .team__content .team__card-left .profile {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 444px 1fr;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.team__container .team__content .team__card-left .profile .profile__wrap-left {
  padding: 0 30px;
  margin: 30px 0;
  border-right: 1px solid rgba(152, 183, 255, 0.24);
}
.team__container .team__content .team__card-left .profile .profile__wrap-left .profile__main {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.team__container .team__content .team__card-left .profile .profile__wrap-left .profile__main img {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__container .team__content .team__card-left .profile .profile__wrap-left .profile__main-wrap h5 {
  color: #f5f5f5;
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 4px;
}
.team__container .team__content .team__card-left .profile .profile__wrap-left .profile__main-wrap p {
  color: #98b7ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.team__container .team__content .team__card-left .profile .profile__wrap-left .profile__info {
  margin-bottom: 16px;
}
.team__container .team__content .team__card-left .profile .profile__wrap-left .profile__info ul {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid rgba(238, 237, 237, 0.2509803922);
  background: rgba(255, 255, 255, 0.03);
  padding: 20px;
}
.team__container .team__content .team__card-left .profile .profile__wrap-left .profile__info ul li {
  display: flex;
  align-items: center;
  gap: 16px;
}
.team__container .team__content .team__card-left .profile .profile__wrap-left .profile__info ul li .profile__info-wrap span {
  color: rgba(152, 183, 255, 0.65);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 2px;
}
.team__container .team__content .team__card-left .profile .profile__wrap-left .profile__info ul li .profile__info-wrap p {
  color: #f5f5f5;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.team__container .team__content .team__card-left .profile .profile__wrap-left .profile__info ul li:not(:last-child) {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(210, 210, 210, 0.1);
}
.team__container .team__content .team__card-left .profile .profile__wrap-left .profile__info ul li:not(:first-child) {
  padding-top: 15px;
}
.team__container .team__content .team__card-left .profile .profile__wrap-right {
  position: relative;
}
.team__container .team__content .team__card-left .profile .profile__wrap-right .profile__img {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: -2px;
  left: -150px;
}
.team__container .team__content .team__card-left .profile .profile__wrap-right .profile__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.team__container .team__content .team__card-left .profile .profile__wrap-right .profile__timeline {
  position: absolute;
  top: 60px;
  right: 24px;
}
.team__container .team__content .team__card-left .profile .profile__wrap-right .profile__timeline ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 130px;
}
.team__container .team__content .team__card-left .profile .profile__wrap-right .profile__timeline ul::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 15px;
  bottom: 15px;
  width: 1px;
  background-color: #98b7ff;
}
.team__container .team__content .team__card-left .profile .profile__wrap-right .profile__timeline ul li {
  display: flex;
  gap: 7px;
  align-items: center;
}
.team__container .team__content .team__card-left .profile .profile__wrap-right .profile__timeline ul li span {
  width: 9px;
  min-width: 9px;
  height: 9px;
  background-color: #98b7ff;
  border-radius: 50%;
}
.team__container .team__content .team__card-left .profile .profile__wrap-right .profile__timeline ul li p {
  color: #f5f5f5;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.team__container .team__content .team__card-left .profile--active {
  opacity: 1;
  transform: scale(1);
}
.team__container .team__content .team__card-right h4 {
  color: #f5f5f5;
  margin-bottom: 8px;
}
.team__container .team__content .team__card-right .card__wrap {
  display: flex;
  gap: 32px;
  margin-bottom: 24px;
}
.team__container .team__content .team__card-right .card__wrap p {
  color: rgba(255, 255, 255, 0.7490196078);
  font-weight: 600;
  font-size: 16px;
}
.team__container .team__content .team__card-right .card__wrap .swiper-buttons {
  display: flex;
  gap: 8px;
}
.team__container .team__content .team__card-right .card__wrap .swiper-buttons .swiper-button-next,
.team__container .team__content .team__card-right .card__wrap .swiper-buttons .swiper-button-prev {
  width: 40px;
  min-width: 40px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #ffffff;
  height: 40px;
  position: static;
  margin: 0;
  transition: border-color 0.3s ease-in-out;
}
.team__container .team__content .team__card-right .card__wrap .swiper-buttons .swiper-button-next svg path,
.team__container .team__content .team__card-right .card__wrap .swiper-buttons .swiper-button-prev svg path {
  transition: fill 0.3s ease-in-out;
}
.team__container .team__content .team__card-right .card__wrap .swiper-buttons .swiper-button-disabled {
  opacity: 1;
  border-color: #98b7ff;
}
.team__container .team__content .team__card-right .card__wrap .swiper-buttons .swiper-button-disabled svg path {
  fill: #98b7ff;
}
.team__container .team__content .team__card-right .card__swiper {
  border-radius: 8px;
  border: 1px solid rgba(238, 237, 237, 0.1254901961);
  background: rgba(255, 255, 255, 0.06);
  padding: 35px 35px 16px 35px;
  height: 380px;
}
.team__container .team__content .team__card-right .card__swiper .swiper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
}
.team__container .team__content .team__card-right .card__swiper .swiper-wrapper .slide {
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.team__container .team__content .team__card-right .card__swiper .swiper-wrapper .slide__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.team__container .team__content .team__card-right .card__swiper .swiper-wrapper .slide__profile .img-container {
  position: relative;
}
.team__container .team__content .team__card-right .card__swiper .swiper-wrapper .slide__profile .img-container img {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  margin-bottom: 8px;
  box-sizing: border-box;
  transition: outline 0.3s ease-in-out, border 0.3s ease-in-out;
}
.team__container .team__content .team__card-right .card__swiper .swiper-wrapper .slide__profile .img-container::after {
  opacity: 0;
  content: url("../../assets/img/team_check.svg");
  position: absolute;
  bottom: -3px;
  right: -3px;
  transition: opacity 0.3s ease-in-out;
}
.team__container .team__content .team__card-right .card__swiper .swiper-wrapper .slide__profile p {
  color: #f5f5f5;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 4px;
  text-align: center;
}
.team__container .team__content .team__card-right .card__swiper .swiper-wrapper .slide__profile span {
  color: #98b7ff;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
  text-wrap: nowrap;
}
.team__container .team__content .team__card-right .card__swiper .swiper-wrapper .slide__profile--active .img-container img {
  border: 3px solid #fff;
  outline: 6px solid rgba(255, 255, 255, 0.23);
}
.team__container .team__content .team__card-right .card__swiper .swiper-wrapper .slide__profile--active .img-container::after {
  opacity: 1;
}
.team__container .team__content .team__card-right .card__swiper .swiper-pagination {
  position: static;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 6px 12px;
}
.team__container .team__content .team__card-right .card__swiper .swiper-pagination .swiper-pagination-bullet {
  margin: 0;
  width: 5px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.team__container .team__content .team__card-right .card__swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

.social {
  padding: 72px 0;
  margin-bottom: 32px;
}
.social__container .social__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}
.social__container .scheme {
  position: relative;
}
.social__container .scheme__info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.social__container .banner {
  background-image: url("../../assets/img/plan_banner_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  border-radius: 12px;
  display: flex;
  gap: 120px;
  margin-bottom: 16px;
}
.social__container .banner__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social__container .banner__wrap h5 {
  color: #f5f5f5;
  text-align: center;
  margin-bottom: 8px;
  font-family: "Onest", sans-serif;
  font-weight: 600;
}
.social__container .banner__wrap p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7490196078);
  line-height: 130%;
  text-align: center;
  margin-bottom: 24px;
}
.social__container .banner .divider {
  width: 1px;
  min-height: 100%;
  background-color: rgba(152, 183, 255, 0.6509803922);
}
.social__container .social__info {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  color: #337de8;
  font-size: 12px;
}

.practical {
  padding: 72px 0;
  margin-bottom: 32px;
  background-image: url("../../assets/img/practical_section_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
.practical__container .practical__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 48px;
}
.practical__container .practical__header h2 {
  max-width: 560px;
  text-align: start;
}
.practical__container .practical__header p {
  max-width: 445px;
  text-align: start;
}
.practical__container .practical__cards {
  margin-bottom: 56px;
}
.practical__container .practical__cards ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.practical__container .practical__cards ul li .card {
  border: 1px solid #e5eefd;
  background: #fff;
  border-radius: 12px;
}
.practical__container .practical__cards ul li .card__content {
  padding: 30px;
}
.practical__container .practical__cards ul li .card__content .company {
  margin-bottom: 20px;
}
.practical__container .practical__cards ul li .card__content .company img {
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
}
.practical__container .practical__cards ul li .card__content .company h5 {
  font-family: "Onest", sans-serif;
  line-height: 100%;
  font-weight: 600;
  color: #1e2e47;
  margin-bottom: 8px;
}
.practical__container .practical__cards ul li .card__content .company p {
  font-size: 16px;
  line-height: 125%;
  color: rgba(19, 50, 122, 0.5019607843);
}
.practical__container .practical__cards ul li .card__content .worker {
  padding: 24px 0;
  border-top: 1px solid #e5eefd;
  border-bottom: 1px solid #e5eefd;
  margin-bottom: 16px;
}
.practical__container .practical__cards ul li .card__content .worker__profile {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
.practical__container .practical__cards ul li .card__content .worker__profile img {
  width: 64px;
  height: 64px;
  border-radius: 10px;
}
.practical__container .practical__cards ul li .card__content .worker__profile .worker__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.practical__container .practical__cards ul li .card__content .worker__profile .worker__info h6 {
  font-family: "Onest", sans-serif;
  color: #1e2e47;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: 600;
}
.practical__container .practical__cards ul li .card__content .worker__profile .worker__info p {
  width: 240px;
  color: rgba(19, 50, 122, 0.5019607843);
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}
.practical__container .practical__cards ul li .card__content .worker .worker__stack {
  display: flex;
  gap: 4px;
}
.practical__container .practical__cards ul li .card__content .worker .worker__stack span {
  border: 1px solid #e5eefd;
  border-radius: 27px;
  padding: 6px 16px;
  color: rgba(3, 28, 59, 0.6509803922);
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}
.practical__container .practical__cards ul li .card__content .card__result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.practical__container .practical__cards ul li .card__content .card__result p {
  color: rgba(19, 50, 122, 0.5019607843);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.practical__container .practical__cards ul li .card__content .card__result h3 {
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
}
.practical__container .practical__cards ul li .card a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5eefd;
  padding: 25px 30px;
  color: #1560bd;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
}
.practical__container .practical__info {
  margin-bottom: 56px;
}
.practical__container .practical__info ul {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.practical__container .practical__info ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: rgba(19, 50, 122, 0.4509803922);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.practical__container .practical__info ul li p {
  color: #1560bd;
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0%;
}
.practical__container .banner {
  background-image: url("../../assets/img/plan_banner_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 55px;
  padding-right: 40px;
}
.practical__container .banner__content {
  max-width: 510px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.practical__container .banner__content h3 {
  max-width: 430px;
  color: #f5f5f5;
  line-height: 100%;
  letter-spacing: 0%;
}
.practical__container .banner__content p {
  color: rgba(255, 255, 255, 0.7490196078);
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}
.practical__container .banner__actions {
  max-width: 290px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.practical__container .banner__actions p {
  display: flex;
  gap: 12px;
  color: rgba(255, 255, 255, 0.7490196078);
  font-weight: 500;
  font-size: 12px;
  line-height: 135%;
  letter-spacing: -1%;
}

.FAQ {
  padding: 72px 0;
  margin-bottom: 32px;
  background-image: url("../../assets/img/FAQ_bg_1.png"), url("../../assets/img/FAQ_bg_2.png"), url("../../assets/img/FAQ_bg_3.png");
  background-repeat: no-repeat;
  background-position: left top 410px, left 36px top 400px, right top 260px;
}
.FAQ__container {
  max-width: 1130px;
  margin: 0 auto;
}
.FAQ__container .FAQ__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}
.FAQ__container .FAQ__tabs {
  width: 400px;
  position: relative;
  z-index: 1;
  display: flex;
  gap: 8px;
  margin-bottom: -50px;
}
.FAQ__container .FAQ__content {
  position: relative;
  transition: height 0.3s ease-in-out;
}
.FAQ__container .FAQ__content .tab-block {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 440px 1fr;
  gap: 16px;
  opacity: 0;
  transform: scale(0);
  transform: translateX(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.FAQ__container .FAQ__content .tab-block__wrap-left {
  margin-top: 82px;
}
.FAQ__container .FAQ__content .tab-block__wrap-left h3 {
  color: #1e2e47;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 24px;
}
.FAQ__container .FAQ__content .tab-block__wrap-left p {
  max-width: 325px;
  color: rgba(19, 50, 122, 0.5019607843);
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
}
.FAQ__container .FAQ__content .tab-block__wrap-right ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 32px;
  list-style: none;
}
.FAQ__container .FAQ__content .tab-block__wrap-right ol li .accordion {
  border: 1px solid #e5eefd;
  border-radius: 12px;
  background-color: #fff;
  padding: 26px 24px;
  transition: background-color 0.3s ease-in-out;
}
.FAQ__container .FAQ__content .tab-block__wrap-right ol li .accordion__button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1e2e47;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.FAQ__container .FAQ__content .tab-block__wrap-right ol li .accordion__button svg {
  transition: transform 0.3s ease-in-out;
}
.FAQ__container .FAQ__content .tab-block__wrap-right ol li .accordion__button--active svg {
  transform: rotate(180deg);
}
.FAQ__container .FAQ__content .tab-block__wrap-right ol li .accordion__content {
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease-in-out, padding-top 0.3s ease-in-out;
}
.FAQ__container .FAQ__content .tab-block__wrap-right ol li .accordion--active {
  background-color: #f4f6ff;
}
.FAQ__container .FAQ__content .tab-block__wrap-right .button-more {
  display: flex;
  gap: 8px;
  color: rgba(54, 56, 58, 0.6);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 23.5%;
  text-decoration-thickness: 7%;
}
.FAQ__container .FAQ__content .tab-block__wrap-right .button-more svg {
  transition: transform 0.3s ease-in-out;
}
.FAQ__container .FAQ__content .tab-block__wrap-right .button-more--active svg {
  transform: rotate(180deg);
}
.FAQ__container .FAQ__content .tab-block--active {
  opacity: 1;
  transform: scale(1);
}

.video {
  padding: 72px 0;
  margin-bottom: 16px;
}
.video__container {
  max-width: 1130px;
  margin: 0 auto;
}
.video__container .video__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}
.video__container .video__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.video__container .video__content .video__wrap {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  height: 575px;
}
.video__container .video__content .video__wrap video {
  width: 100%;
  height: 100%;
}
.video__container .video__content .video__wrap .video-play {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 16px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
.video__container .video__content .video__wrap .video-play .icon {
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 50%;
}
.video__container .video__content .video__wrap .video-play:hover {
  border: 16px solid rgba(255, 255, 255, 0.25);
}
.video__container .video__content .video__wrap .video-preview {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.video__container .video__content .video__wrap .video-preview::after {
  z-index: 100;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #d9d9d9, #d9d9d9), linear-gradient(262.68deg, rgba(0, 0, 0, 0) 66.43%, rgba(0, 0, 0, 0.64) 99%);
}
.video__container .video__content .video__wrap .video-info {
  left: 30px;
  bottom: 30px;
  width: 260px;
  z-index: 10;
  position: absolute;
}
.video__container .video__content .video__wrap .video-info .name {
  color: #f5f5f5;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 8px;
}
.video__container .video__content .video__wrap .video-info .description {
  color: rgba(255, 255, 255, 0.7490196078);
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 24px;
}
.video__container .video__content .video__wrap .video-info .time {
  padding: 12px 16px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  border-radius: 100px;
  background: rgba(253, 253, 253, 0.1803921569);
  backdrop-filter: blur(10px);
  color: #fdfdfd;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
}

.final {
  padding: 88px 0;
}
.final__container {
  position: relative;
}
.final__container h2 {
  max-width: 620px;
  text-align: start;
  color: #ffffff;
  margin-bottom: 24px;
}
.final__container .subtitle {
  max-width: 430px;
  text-align: start;
  color: #98b7ff;
  margin-bottom: 40px;
}
.final__container .final__decor {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1400px) {
  .hero__container .hero__info {
    padding: 12px;
  }
  .hero__container .hero__info .text {
    font-size: 12px;
  }
  .hero__container .hero__info-1 {
    right: 35px;
    top: -60px;
  }
  .hero__container .hero__info-2 {
    right: 445px;
    top: 20px;
  }
  .hero__container .hero__decor {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 520px;
    height: 520px;
    background-size: contain;
  }
  .tools__container .tools__content {
    gap: 8px;
  }
  .tools__container .tools__content .card {
    padding: 15px;
  }
  .tools__container .tools__content .card__header {
    gap: 16px;
    margin-bottom: 12px;
    padding: 0 15px;
  }
  .tools__container .tools__content .card p {
    margin-bottom: 24px;
    padding: 0 15px;
  }
  .tools__container .tools__content .card ul {
    border: 1px solid #e5eefd;
    border-radius: 8px;
  }
  .tools__container .tools__content .card ul li a {
    padding: 14px 10px;
  }
  .tools__container .tools__content .card ul li a img {
    margin: 0;
  }
  .plan__container .plan__content ol {
    gap: 8px;
    margin-bottom: 8px;
  }
  .plan__container .plan__content ol li .card__content {
    gap: 8px;
  }
  .plan__container .plan__content .banner {
    gap: 32px;
  }
  .plan__container .plan__content .banner__content .banner__wrap {
    gap: 20px;
  }
  .plan__container .plan__content .banner__actions {
    max-width: 340px;
    gap: 28px;
    align-items: start;
  }
  .questions {
    padding: 72px 0;
    margin-bottom: 32px;
  }
  .questions__container {
    max-width: 980px;
    margin: 0 auto;
  }
  .questions__container .questions__tabs {
    margin-bottom: 8px;
  }
  .questions__container .questions__content .tab-block {
    gap: 8px;
  }
  .questions__container .questions__content .tab-block__wrap-left .tab-block__content {
    padding: 30px 10px 30px 30px;
  }
  .questions__container .questions__content .tab-block__wrap-bottom {
    gap: 8px;
  }
  .questions__container .questions__content .tab-block__wrap-bottom .card {
    padding: 30px 20px 30px 30px;
  }
  .questions__container .questions__content .tab-block__wrap-right img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .team {
    padding: 72px 0;
    margin-bottom: 32px;
  }
  .team__container .team__header {
    gap: 24px;
    margin-bottom: 48px;
  }
  .team__container .team__header .subtitle {
    max-width: 560px;
  }
  .team__container .team__content {
    grid-template-columns: 1fr 386px;
    gap: 8px;
  }
  .team__container .team__content .team__card {
    height: 542px;
    padding: 30px 16px 16px 16px;
  }
  .team__container .team__content .team__card-left {
    padding: 0;
    overflow: hidden;
    position: relative;
  }
  .team__container .team__content .team__card-left .profile {
    grid-template-columns: 420px 1fr;
  }
  .team__container .team__content .team__card-left .profile .profile__wrap-left {
    padding: 0 30px;
    margin: 30px 0;
    border-right: 1px solid rgba(152, 183, 255, 0.24);
  }
  .team__container .team__content .team__card-left .profile .profile__wrap-left .profile__main {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
  }
  .team__container .team__content .team__card-left .profile .profile__wrap-right .profile__img {
    position: absolute;
    top: 80px;
    right: 0px;
    bottom: 0px;
    left: -175px;
  }
  .team__container .team__content .team__card-left .profile .profile__wrap-right .profile__img img {
    -o-object-fit: contain;
       object-fit: contain;
    width: unset;
    height: unset;
  }
  .team__container .team__content .team__card-right h4 {
    color: #f5f5f5;
    margin-bottom: 8px;
  }
  .team__container .team__content .team__card-right .card__wrap {
    gap: 32px;
    margin-bottom: 24px;
  }
  .team__container .team__content .team__card-right .card__wrap .swiper-buttons {
    gap: 8px;
  }
  .team__container .team__content .team__card-right .card__swiper {
    padding: 30px 12px 16px 12px;
    height: 380px;
  }
  .team__container .team__content .team__card-right .card__swiper .swiper {
    gap: 24px;
  }
  .team__container .team__content .team__card-right .card__swiper .swiper-wrapper .slide__profile .img-container {
    position: relative;
  }
  .team__container .team__content .team__card-right .card__swiper .swiper-wrapper .slide__profile .img-container img {
    width: 86px;
    height: 86px;
  }
  .team__container .team__content .team__card-right .card__swiper .swiper-wrapper .slide__profile p {
    font-size: 10px;
  }
  .team__container .team__content .team__card-right .card__swiper .swiper-wrapper .slide__profile span {
    font-size: 8px;
  }
  .team__container .team__content .team__card-right .card__swiper .swiper-pagination {
    gap: 5px;
    padding: 6px 12px;
  }
  .team__container .team__content .team__card-right .card__swiper .swiper-pagination .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
  }
  .practical__container .practical__header h2 {
    max-width: 560px;
    text-align: start;
  }
  .practical__container .practical__header p {
    max-width: 380px;
    text-align: start;
  }
  .practical__container .practical__cards ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }
  .practical__container .practical__cards ul li .card__content {
    padding: 30px;
  }
  .practical__container .practical__cards ul li .card__content .worker .worker__stack {
    display: flex;
    gap: 2px;
  }
  .practical__container .practical__cards ul li .card__content .worker .worker__stack span {
    padding: 6px 12px;
    font-size: 13px;
  }
  .practical__container .banner__content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .practical__container .banner__content h3 {
    max-width: unset;
  }
  .practical__container .banner__actions {
    max-width: 290px;
    margin-left: unset;
  }
  .FAQ {
    padding: 72px 0;
    margin-bottom: 32px;
    background-image: url("../../assets/img/FAQ_bg_1.png"), url("../../assets/img/FAQ_bg_2.png"), url("../../assets/img/FAQ_bg_3.png");
    background-repeat: no-repeat;
    background-position: left top 410px, left top 400px, right top 260px;
  }
  .FAQ__container {
    max-width: 980px;
  }
  .FAQ__container .FAQ__content {
    position: relative;
    transition: height 0.3s ease-in-out;
  }
  .FAQ__container .FAQ__content .tab-block {
    grid-template-columns: 350px 1fr;
    gap: 42px;
  }
  .video {
    padding: 72px 0;
    margin-bottom: 16px;
  }
  .video__container {
    max-width: 980px;
  }
  .video__container .video__content {
    gap: 32px;
  }
  .video__container .video__content .video__wrap {
    height: 575px;
  }
  .video__container .video__content .video__wrap video {
    width: 100%;
    height: 100%;
  }
  .video__container .video__content .video__wrap .video-preview {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .video__container .video__content .video__wrap .video-info {
    width: 240px;
  }
  .final {
    padding: 80px 0;
  }
}/*# sourceMappingURL=style-index.css.map */