// Font-size

// $fz-h1: 50px; // 46
// $fz-h2: 40px; // 36
// $fz-h3: 32px; // 32
// $fz-h4: 24px; // 20
// $fz-h5: 18px; // 18

:root {
  --fz-h1: 50px;
  --fz-h2: 40px;
  --fz-h3: 32px;
  --fz-h4: 24px;
  --fz-h5: 18px;
}

@media (max-width: 1400px) {
  :root {
    --fz-h1: 46px;
    --fz-h2: 36px;
    --fz-h3: 28px;
    --fz-h4: 20px;
    --fz-h5: 18px;
  }
}

@media (max-width: 1200px) {
  :root {
    --fz-h1: 36px;
    --fz-h2: 28px;
    --fz-h3: 28px;
    --fz-h4: 18px;
    --fz-h5: 16px;
  }
}

@media (max-width: 720px) {
  :root {
    --fz-h1: 26px;
    --fz-h2: 22px;
    --fz-h3: 22px;
    --fz-h4: 18px;
    --fz-h5: 16px;
  }
}

$fz-body-lg: 18px;
$fz-subtitle: 16px;
$fz-body: 16px;
$fz-body-sm: 14px;

// $fz-buttons: 16px;
// $fz-inputs: 16px;

$font-titles: 'Unbounded', sans-serif;
$font-main: 'Onest', sans-serif;

$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-black: 800;
