@media (max-width: 1200px) {
  .header {
    &__container {
      .header__logo {
      }

      .header__nav {
        .list {
          .list__item {
            a {
            }

            &:nth-child(n + 4) {
              display: none;
            }
          }
        }
      }

      .header__actions {
        .secondary-button {
          .icon {
          }
        }

        .header__burger {
          span {
          }
        }
      }
    }
  }

  .burger-menu {
    &__container {
      padding: 30px;

      gap: 38px;

      .burger-menu__header {
        img {
          width: 155px;
        }

        button {
        }
      }

      .burger-menu__content {
        ul {
          gap: 8px;

          li {
            .accordion {
              &__button {
                .icon {
                }
              }

              &__content {
                nav {
                  padding: 16px 32px;

                  ul {
                    gap: 16px;

                    li {
                      a {
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .secondary-button {
          margin-top: auto;

          span {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

  .footer {
    &__container {
      .footer__wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 44px;

        &-top {
          padding: 50px 0;

          .footer__info {
            gap: 8px;

            img {
            }

            .footer__phone {
              font-size: 20px;
            }

            .footer__mail {
            }

            .footer__links {
              gap: 8px;
            }
          }

          .nav {
            display: contents;

            .accordion {
              button {
                font-size: 20px;
                margin-bottom: 46px;
              }

              .list {
                &__item {
                  a {
                  }
                }
              }
            }
          }
        }

        &-bottom {
          padding: 18px 0;

          p,
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
}
